/* .footer {
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: black;
   color: white;
   text-align: center;
   padding: 10px;
} */

/* #bird2{
  background-color: black;
} */
body{
  color: white;
  background-color: black;
}
