<div id="filler">
<div class ="Jumbtron">
  <h1>Looking for Music?</h1>
</div>
<div class="row">
  <div class="col-md-4">
  <a><img src="assets/drake-1.jpg"></a>
</div>
<div class="col-md-4">
<a><img src="assets/Alice.jpg"></a>
</div>
<div class="col-md-4">
  <a><img src="assets/Aura.jpg"></a>
</div>
</div>
<br>
<div class="row">
  <div class="col-md-4">
  <a><img src="assets/drake-1.jpg"></a>
</div>
<div class="col-md-4">
<a><img src="assets/Alice.jpg"></a>
</div>
<div class="col-md-4">
  <a><img src="assets/Aura.jpg"></a>
</div>
</div>
</div>
