<!-- <nav class="navbar">
<!-- //<span><a href="default.asp">Home</a> -->
  <!-- <a class="navbar-brand" href="#">
      <img src="assets/Spotify_Badge_White.svg.png" width="100" height="50" alt="">
    </a>
    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
  <!-- <a href="news.asp">News</a></span> -->
<!-- <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
</nav> -->

<body class="container-fluid" id="wrap">
  <div >
<ul>
<img src="assets/Spotify_Badge_White.svg.png" id="main-img" alt="">
<br>
  <li><a routerLink="../Profil">
  <img src="assets/round-account_box-24px.svg" id="userprofile"  alt=""></a></li>
  <!-- <li><a routerLink="../PROFIL">Profile</a></li> -->
  <br>
  <form class="form-inline my-2 my-lg-0">
 <input class="form-control mr-sm-2" id="form-Second" type="search" placeholder="Search Music" aria-label="Search">
 <button type="submit" class="btn btn-primary">Search</button>
</form>
</ul>
</div>
</body>



<!-- <div style="margin-left:25%;padding:1px 16px;height:1000px;">
  <h2>Fixed Full-height Side Nav</h2>
  <h3>Try to scroll this area, and see how the sidenav sticks to the page</h3>
  <p>Notice that this div element has a left margin of 25%. This is because the side navigation is set to 25% width. If you remove the margin, the sidenav will overlay/sit on top of this div.</p>
  <p>Also notice that we have set overflow:auto to sidenav. This will add a scrollbar when the sidenav is too long (for example if it has over 50 links inside of it).</p>
  <p>Some text..</p>
  <p>Some text..</p>
  <p>Some text..</p>
  <p>Some text..</p>
  <p>Some text..</p>
  <p>Some text..</p>
  <p>Some text..</p>
</div>

</body>
</html> -->
