

<header>
<nav class="navbar navbar-inverse">
  <div class="container-fluid" id="firstNav">
    <div class="navbar-header" id="image">
      <br>
      <img src="assets/Spotify_Badge_White.svg.png" id="main-img" alt="">
        <a routerLink="../Profil"><img src="assets/round-account_box-24px.svg" id="userprofile"  alt=""></a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <input class="form-control" id="form-Second" type="search" placeholder="Search Music">
      <button type="button" class="btn btn-default">Right</button>
    </ul>
  </div>
</nav>
</header>
