<div id="filler2" class="conatiner">

  <div class="row">
  <!-- <div class="col-md-12">
<h1>Make the most of Spotify </h1>
</div> -->

  <div class="col-md-4">

    <h3> Manage your account</h3>
    <p>Edit your profile, change your password, and update your payment information.</p>
  </div>

  <div class="col-md-4">
          <h3>Get our free app</h3>
          <p>Seamlessly listen to music you love. Download the Spotify app for your computer.</p>
        </div>

        <div class="col-md-4">
                <h3>Listen on the web</h3>
                <p>To play and share music without the app, all within your browser, go to </p>
              </div>

</div>
</div>

<!-- </div> -->
