 nav{
      filter: alpha(opacity=10px);
        background-color: black;
}
/* header{
  background-color: transparent;

} */
#image2{
  
  border: black;
  width: 180px;
}
#image3{
  background-color: white;
  border: black;


}

#image3{
  background-color:white;
  border: black;
  width: 46px;

}
