
<!-- <img src="Spotify.jpg" alt="Italian Trulli"> -->

<header>
<nav class="navbar navbar-inverse">
  <div class="container-fluid" id="firstNav">
    <div class="navbar-header" id="image">
      <img src="assets/Spotify_Badge_White.svg.png" id="image2">
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a routerLink="Search"><img src="assets/magnifier.png" id="image3"></a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a routerLink="List">List of Profiles</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a routerLink="Login"><img src="assets/if_login_account_enter_door_3005767.svg" id="image3"></a></li>
    </ul>
  </div>
</nav>
</header>
<!-- <app-login></app-login> -->
